body {
    margin:0;
    font-family: 'Segoe UI';
}

header {
    position: relative;
    width: 100%;
}

footer {
    position: relative;
    width: 100%;
    background-color: #3A405A;
    display: flex;
    flex-direction: column;
}

#Taustakuva {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%
}

#kellow {
    position: absolute;
    left: 0%;
    top: 100px;
    padding-left: 70px;
    height: 300px;
    width: 300px;
}

#book4 {
    height: 300px;
    width: 418px;
    position: relative
}

#Kakkoskohta {
    width: 100vh;
    height: 100vh;
    z-index: 2;
}
h2 {
    font-family: 'Segoe UI';
    font-size: 40px;
}

#teksti {
    font-family: 'Segoe UI';
    Font-size: 25px;
}


#sinilaatikko {
    position: relative;
    bottom: 0;
    height: 250px;
    width: 100%;
    background-color: #3A405A;
    opacity: 60%;
    z-index: 3;
    margin: 0;
}
 
#tekstilaatikko {
    position: relative;
    bottom: 0;
    height: 280px;
    width: 100%;
    z-index: 4;
    margin: 0;
}



ul.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3a405a;
    justify-content: flex-end;
    display:flex;
  }
  
  li.navi, .dropbtn {
display: inline-block;
color: #F9DEC9;
padding: 14px 16px;
text-decoration: none;
}


.dropdown-content {
    display:none;
    position:relative;
    background-color: #3a405a;
    min-width:550px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 16.2vw;
}

.dropdown-content a {
    color:#F9DEC9;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align:left;
}



.dropdown-content a:hover {background-color: #cac8c8}

.dropdown:hover .dropdown-content {
 display:block;   
}

#kakkossektio {
text-align: left;
}

#kolmossektio {
    text-align: center;
}

#nelossektio {
    text-align: right
}

.lista {
    
    color:#F9DEC9
}

.lista2 {
    
    color:#F9DEC9;
    display: block;
    text-decoration: none;  
}

.lista3 {
    
    color:#F9DEC9;
    display: block;
    text-decoration: none;  
}

.Footerlista {
    width: 100%;
display: flex;
justify-content: space-around;
}

.Osoite {
    width: 100%;
}

address {
    color:white;
    text-align: center;
}

li a {
    display: block;
    color: #F9DEC9;
    padding: 14px 16px;
    text-decoration: none;
  }

  .lista1 {
    display: block;
      text-align: left;
      text-decoration: none;  
    }

    footer {
        display: flex;
        align-content: space-around;
    }

    #kakkossektio {
        display: flex;
        align-content: space-around;
        width: 100%;
    }
    
    .teksti1 {
        width: 25%;
        height: 560px;
        margin: 10% 5%;
        box-shadow: 0 0 4px 0 rgba(25,25,25,0.5);
        border-radius: 10px;
        color: #3A405A;
        text-align: center;
    }

    .teksti2 {
        width: 25%;
        height: 560px;
        margin: 10% 5%;
        box-shadow: 0 0 4px 0 rgba(25,25,25,0.5);
        border-radius: 10px;
        color: #3A405A;
        text-align: center;
    }

    .teksti3 {
        width: 25%;
        height: 560px;
        margin: 10% 5%;
        box-shadow: 0 0 4px 0 rgba(25,25,25,0.5);
        border-radius: 10px;
        color: #3A405A;
        text-align: center;
    }

    h3 {
        color: #3A405A;
        text-align: center;
    }

    
    #otsikko1 {
        color:#3a405a;
    }
    #otsikko2 {
        color:#3a405a;
    }
    #otsikko3 {
        color:#3a405a;
    }

    .nappi1 {
        background-color: white;
        color: #3a405a;

        width: 70%;
        border-radius:5px;
        box-shadow: 5px #3A405A;
        height: 50px
    }
.nappi2 {
    background-color: white;
    color: #3a405a;

    width: 70%;
    border-radius:5px;
    box-shadow: 5px #3A405A;
    height: 50px
}

.nappi3 {
    background-color: white;
    color: #3a405a;

    width: 70%;
    border-radius:5px;
    box-shadow: 5px #3A405A;
    height: 50px
}



hr {
    background-color: #3A405A;
    opacity: 50%;
    margin: 5%;
    display: block;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    position: relative;

}

.sivukuva {
    position: relative;
    top: 7vw;
    left: 8vw;
    width: 28vw;
    height: 18vw;
    background-image: url("kuvat/Taitokisakuvat-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.sektio {
    width: 100%;
    height: 30vw;
    z-index: 2;
}

.the_article_holder{
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.oikeateksti {
    position:relative;
    left: 15vw;
    width: 50vw;
}

.h_on {
    padding-top: 2vw;
    
}

.h_on h3 {
    font-size: 2vw;
    color: #3A405A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p_on {
    font-size: 1.10vw;
    color: #3A405A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.read_more_link{
    padding-top: 2vw;
}

.read_more_link a{
    color: #3A405A;
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.read_more_link a:hover {
    text-decoration: underline;
}


#vasenteksti {
    position:relative;
    left: 5vw;
    width: 50vw;
    height: 30vw;
}

#sivukuva2 {
    position: relative;
    top: -20vw;
    left: 55vw;
    width: 28vw;
    height: 18vw;
    background-image: url("kuvat/book-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .sivukuva2 {
    position: relative;
    top: 7vw;
    left: 8vw;
    width: 28vw;
    height: 18vw;
    background-image: url("kuvat/Taitokisakuvat-8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.sivukuva3 {
    position: relative;
    top: 7vw;
    left: 8vw;
    width: 28vw;
    height: 18vw;
    background-image: url("kuvat/Taitokisakuvat-9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

